body {
    margin: 0;
    height: 100vh;
    background-color: #F5BE49;
    display: grid;
    place-items: center;
}

form {
    background-color: white;
    box-shadow: 10px 10px black;
    border: 2px solid black;
}

form div input[type="submit"] {
    background-color: #F5BE49;
    text-transform: uppercase;
    font-weight: 500;
}

form div input[type="submit"]:hover {
    box-shadow: 5px 5px black;
    transition: .2s;
}